
header {
    height: 60px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px gray solid;
    position: fixed;
    z-index: 10;
}

.site-logo {
    font-size: 35px;
    color: #ff9a04;
    line-height: 60px;
    float:left;
}
.fa-user-circle {
    font-size: 20px;
}
.login-button {
    float:right;
    margin-top: 10px;
}

.logout-button {
    float:right;
    margin-top: 10px;
}

h1 {
    font-size: 30px;
}

.title {
    padding-top: 15px;
}

video {
    width:345px;
    height:205px;
}

.border {
    border-bottom: 1px gray solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.post-button {
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 10;
    border-radius: 15px;
}

.content {
    background-color: #fff;
    box-shadow: 0 0 4px -1px gray;
    margin-bottom:30px;
}



.empty {
    height:30px;
}

