header {
    height: 75px;
    border-bottom: 1px gray solid;
    margin-bottom: 10px;
}

.site-logo {
    font-size: 35px;
    color: #ff9a04;
    line-height: 35px;
    line-height: 75px;
    float:left;
}
.fa-user-circle {
    font-size: 20px;
}
.login-button {
    float:right;
    margin-top: 20px;
}

.logout-button {
    float:right;
    margin-top: 20px;
}

video {
    width:345px;
    height:205px;
}

.border {
    border-bottom: 1px gray solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.post-button {
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 10;
    border-radius: 15px;
}

.post {
    /* background-color: #ccc; */
}